{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "ie >= 9"]
      }
    }],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "babel-plugin-transform-exponentiation-operator",
    "react-hot-loader/babel"
  ]
}
