@import "./vendor/normalize";
@import "./vendor/stylesheet";
@import "./vendor/github-light";


.demoButton {
    border-radius: 5px;
    background-color: #303030;
    border: none;
    color: #FFF;
    outline: none;
    padding: 8px 15px;

    &:hover {
        background-color: #000;
        text-shadow: 0 0 6px #FFF;
    }

    &:active {
        text-shadow: 0 0 6px #FFF, 0 0 6px #FFF, 0 0 6px #FFF;
    }

    &:focus {
        box-shadow: 0 0 3px 2px #999;
    }
}
